.kanban-column {
  min-height: 600px;

  background-color: #f4f5fa;
}
.kanban-column-header h4 {
  color: #10276d;
  font-size: 17px;
  margin: 0;
  border-left: 3px solid #10276d;
  padding-left: 12px;
}

.kanban-task-count {
  color: #fff;
  background-color: #9398bb;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
}
